@use "center";
@use "navigationMenu";
@use "typography";
@use "colors";
@use "flexbox";
@use "animation";
@use "header";

@mixin mobile {
  @media screen and (max-width: 450px) {
    @keyframes headerMenu {
      from {
        display: none;
        right: -100%;
      }
      to {
        display: flex;
        right: 0;
      }
    }

    .home {
      background-image: url(../starter-code/assets/home/background-home-mobile.jpg);
      padding-inline: 1.5rem;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;

      & &-container {
        @include flexbox.flexbox($dir: column, $align: center);
        width: 100%;
        padding: 0;
        padding-top: 7rem;
        color: colors.$white;
        height: 100vh;
      }

      &-left {
        h5 {
          @include typography.mobile-h5();
        }
        h1 {
          @include typography.mobile-h1();
          margin: 1rem 0 1rem 0;
        }
        p {
          @include typography.mobile-bodyFontStyling();
        }
      }

      &-right {
        bottom: 0;
        .explore {
          @include typography.mobile-h4();
          width: 9.375rem;
          height: 9.375rem;
          border-radius: 100%;
          background-color: colors.$white;
          cursor: pointer;
          position: relative;
          z-index: 10;
          text-decoration: none;
          color: colors.$dark;

          &:hover::before {
            width: 8rem;
            height: 8rem;
          }
        }
      }
    }

    header {
      @include header.mobile();
    }
  }
}
