@use "center";
@use "navigationMenu";
@use "typography";
@use "colors";
@use "flexbox";
@use "header";

@mixin tablet {
  @media screen and (max-width: 768px) {
    .home {
      background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
      padding-inline: 2.5rem;

      & &-container {
        @include flexbox.flexbox($dir: column, $align: center);
        width: 100%;
        padding-top: 20rem;
      }

      &-left {
        h5 {
          @include typography.tablet-h5();
        }
        h1 {
          @include typography.tablet-h1();
          margin: 1rem 0 1rem 0;
        }
        p {
          @include typography.tablet-bodyFontStyling();
        }
      }

      &-right {
        .explore {
          @include typography.tablet-h4();
          width: 15.125rem;
          height: 15.125rem;

          &:hover::before {
            width: 25rem;
            height: 25rem;
          }
        }
      }
    }
    header {
      @include header.tablet();
    }
  }
}
