$font-1: "Bellefair", serif;
$font-2: "Barlow", sans-serif;
$font-3: "Barlow Condensed", sans-serif;

// DESKTOP

@mixin headingFontStyling {
  font-family: $font-1;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin bodyFontStyling {
  font-size: 1.125rem;
  font-family: $font-2;
  font-weight: 400;
  line-height: 2rem;
}

@mixin h1 {
  font-size: 9.375rem;
  @include headingFontStyling();
}

@mixin h2 {
  font-size: 6.25rem;
  @include headingFontStyling();
}

@mixin h3 {
  font-size: 3.5rem;
  @include headingFontStyling();
}

@mixin h4 {
  font-size: 2rem;
  @include headingFontStyling();
}

@mixin h5 {
  font-size: 1.75rem;
  font-family: $font-3;
  letter-spacing: 4.75px;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin subheading1 {
  font-family: $font-1;
  font-size: 1.75rem;
  text-transform: uppercase;
}

@mixin subheading2 {
  font-family: $font-3;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.35px;
}

@mixin navText {
  font-family: $font-3;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

// TABLET

@mixin tablet-headingFontStyling {
  font-family: $font-1;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin tablet-bodyFontStyling {
  font-size: 1rem;
  font-family: $font-2;
  font-weight: 400;
  line-height: 2rem;
}

@mixin tablet-h1 {
  font-size: 9.375rem;
  @include headingFontStyling();
}

@mixin tablet-h2 {
  font-size: 5rem;
  @include headingFontStyling();
}

@mixin tablet-h3 {
  font-size: 2.5rem;
  @include headingFontStyling();
}

@mixin tablet-h4 {
  font-size: 1.5rem;
  @include headingFontStyling();
}

@mixin tablet-h5 {
  font-size: 1.25rem;
  font-family: $font-3;
  letter-spacing: 4.75px;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin tablet-subheading1 {
  font-family: $font-1;
  font-size: 1.75rem;
  text-transform: uppercase;
}

@mixin tablet-subheading2 {
  font-family: $font-3;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.35px;
}

@mixin tablet-navText {
  font-family: $font-3;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.35px;
}

// MOBILE

@mixin mobile-headingFontStyling {
  font-family: $font-1;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin mobile-bodyFontStyling {
  font-size: 0.938rem;
  font-family: $font-2;
  font-weight: 400;
  line-height: 2rem;
}

@mixin mobile-h1 {
  font-size: 5rem;
  @include headingFontStyling();
}

@mixin mobile-h2 {
  font-size: 3.5rem;
  @include headingFontStyling();
}

@mixin mobile-h3 {
  font-size: 1.5rem;
  @include headingFontStyling();
}

@mixin mobile-h4 {
  font-size: 1.2rem;
  @include headingFontStyling();
}

@mixin mobile-h5 {
  font-size: 1rem;
  font-family: $font-3;
  letter-spacing: 4.75px;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin mobile-subheading1 {
  font-family: $font-1;
  font-size: 1.75rem;
  text-transform: uppercase;
}

@mixin mobile-subheading2 {
  font-family: $font-3;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.35px;
}

@mixin mobile-navText {
  font-family: $font-3;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2.35px;
}
