@use "modules/destination/destination_desktop";
@use "modules/destination/destination_tablet";
@use "modules/destination/destination_mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@include destination_desktop.desktop;
@include destination_tablet.tablet;
@include destination_mobile.mobile;
