.header {
  position: absolute;
  width: 100%;
  max-width: 1440px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header img {
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 720px) {
  .header {
    padding: 24px;
  }
}
