.navigation {
  width: 100%;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  height: 3px;
}

.navigation ul li a {
  letter-spacing: 2.75px;
  padding: 38px 0;
  text-decoration: none;
  color: var(--color-white);
}
