@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Barlow:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Bellefair&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-heading: "Bellefair", serif;
  --font-heading5: "Barlow Condensed", sans-serif;
  --font-subheading1: "Bellefair", serif;
  --font-subheading2: "Barlow Condensed", sans-serif;
  --font-body: "Barlow", sans-serif;
  --color-dark: #0b0d17;
  --color-blue-space: #d0d6f9;
  --color-white: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
  font-family: var(--font-heading5);
  letter-spacing: 4.72px;
}

li,
a,
p {
  font-family: var(--font-body);
  font-size: 18px;
}

.subheading1 {
  font-family: var(--font-subheading1);
  font-size: 28px;
}

.subheading1 {
  font-family: var(--font-subheading2);
  font-size: 14px;
  letter-spacing: 2.35px;
}

.navtext {
  font-size: 16px;
  letter-spacing: 2.75px;
}
